#IDE settings
.vscode
__pycache__
*.DS_score

#Compiled directory
bin/

#Object files
*.pyo
*.o
*.obj

#Compiled files
*.dll
*.pyc

#Compiled libraries
.la
.a
.lib

#Executables
*.exe
*.out

#Misc
main
cmake*/